<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
      <rewrite>
        <rules>
                <rule name="리다이렉션" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_HOST}" pattern="^modukkutu\.kro\.kr" />
                    </conditions>
                    <action type="Redirect" url="http://modukkutu.kro.kr" />
                </rule>
        </rules>
      </rewrite>
    </system.webServer>
</configuration>
